<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>de.webwikinger.gf-cockpit</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/Users/thorekausch/Documents/workplaces/ww/WW KI Themen/WW-GF-Cockpit/launchd/taeglich.sh</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict><key>Hour</key><integer>7</integer><key>Minute</key><integer>0</integer></dict>
  <key>StandardOutPath</key><string>/tmp/ww-gf-cockpit.out</string>
  <key>StandardErrorPath</key><string>/tmp/ww-gf-cockpit.err</string>
</dict>
</plist>
